aiofiles==23.1.0
aiohttp==3.9.1
aiohttp-cors==0.7.0
aiosignal==1.3.1
alabaster==0.7.6
amqp==5.1.1
apipkg==3.0.1
appdirs==1.4.4
asgiref==3.7.2
asn1crypto==1.5.1
astor==0.8.1
async-generator==1.10
async-timeout==4.0.3
asyncssh==1.17.0
atomicwrites==1.4.1
attrs==23.2.0
autocommand==2.2.2
Automat==22.10.0
autopep8==2.0.4
Babel==2.14.0
babeltrace==1.5.8
bcrypt==3.2.2
beautifulsoup4==4.12.3
billiard==4.2.0
black==24.2.0
blinker==1.7.0
botocore==1.34.49
bottle==0.12.25
celery==5.3.6
certifi==2023.5.7
cffi==1.16.0
chardet==5.2.0
charset-normalizer==2.1.1
cheroot==10.0.0
CherryPy==18.9.0
click==8.1.7
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.3.0
clyde==0.8.0
cockpit @ file:///usr/src/RPM/BUILD/cockpit-311.1/tmp/wheel/cockpit-311.1-py3-none-any.whl#sha256=503867adca91aefa024c051ef8ed04a06d9666012e08cebe6412cf5fa30fd3fa
colorama==0.4.6
commonmark==0.9.1
configobj==5.0.8
constantly==15.1.0
coverage==7.3.2
cryptography==42.0.5
cssselect==1.2.0
CT3==3.3.3
cupshelpers==1.0
curve25519-donna==1.3
cycler==0.12.1
Cython==3.0.7
ddt==1.7.2
decorator==4.4.2
defusedxml==0.7.1
discid==1.2.0
distro==1.8.0
Django==4.2.9
dnspython==2.6.1
docopt==0.6.2
docstring-to-markdown==0.12
docutils==0.20.1
et-xmlfile==1.1.0
eventlet==0.35.2
exam==0.10.6
exceptiongroup==1.2.0
fasteners==0.17.3
filelock==3.13.1
flake8==7.0.0
Flask==3.0.2
flask-babel==4.0.0
fonttools==4.49.0
freetype-py==2.4.0
frozenlist==1.3.3
fs==2.4.16
Genshi==0.7.7
geoip2==4.8.0
gevent==23.9.1
git-cola==0.0.0
Glances==3.4.0.3
gns3-gui==2.2.46
gns3-net-converter==1.3.0
gns3-server==2.2.46
greenlet==3.0.1
gssapi==1.8.3
gunicorn==20.1.0
gyp-next==0.16.1
h2==4.1.0
hidapi==0.14.0
hpack==4.0.0
html5lib==1.1
hyperframe==6.0.1
hyperlink==21.0.0
hypothesis==6.98.4
idna==3.6
idna-ssl==1.1.0
imagesize==1.4.1
importlib-metadata==7.0.1
importlib_resources==6.1.2
incremental==22.10.0
inflect==5.4.0
iniconfig==2.0.0
ipaclient==4.11.1
ipalib==4.11.1
ipaplatform==4.11.1
ipapython==4.11.1
isodate==0.6.1
itsdangerous==2.1.2
jaraco.classes==3.3.0
jaraco.collections==4.3.0
jaraco.context==4.3.0
jaraco.functools==4.0.0
jaraco.text==3.11.1
jdcal==1.4.1
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver @ file:///usr/src/RPM/BUILD/kiwi-1.4.5/dist/kiwisolver-1.4.5-cp312-cp312-linux_x86_64.whl#sha256=2f94fd2b0b0c61cac5d56e6e7a8e10a8046bd1dbccf2af8d26ebf9ad4b4a3c96
kmod==0.9.2
kombu==5.3.5
lark==1.1.9
libcst==1.2.0
libevdev==0.11
libvirt-python==9.8.0
lxml==4.9.3
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
maxminddb==2.5.2
mccabe==0.7.0
mdurl==0.1.2
mechanize==0.4.9
monotonic==1.5
more-itertools==10.2.0
mpmath==1.2.1
multidict==6.0.4
mutagen==1.45.1
mypy==1.9.0
mypy-extensions==1.0.0
mysqlclient==2.2.4
ndg-httpsclient==0.4.2
netaddr==0.8.0
netifaces==0.11.0
nose==1.3.7
numexpr==2.8.3
numpy==1.26.4
nyx==2.1.0
objgraph==3.6.0
olefile==0.46
openpyxl==3.1.2
outcome==1.3.0
packaging==23.2
paho-mqtt==1.6.1
pandas==2.1.4
parso==0.8.3
Paste==3.7.1
PasteDeploy==3.0.1
PasteScript==2.0.2
pathspec==0.12.1
patool==2.2.0
pcp==5.0
perf==0.1
picard==2.7.3
pillow==10.2.0
platformdirs==3.10.0
playsound==1.3.0
pluggy==1.4.0
portend==3.2.0
priority==2.0.0
prompt_toolkit==3.0.43
ps-mem==3.12
psutil==5.9.8
psycopg2==2.9.5
py==1.11.0
py-cpuinfo==9.0.0
py3dephell==0.1.0
pyaes==1.6.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyasyncore==1.0.2
pycairo==1.26.0
pycares==4.1.2
pycodestyle==2.11.1
pycparser==2.21
pycryptodome==3.20.0
pycups==1.9.74
pydocstyle==6.3.0
pyflakes==3.2.0
pygal==3.0.0
Pygments==2.17.2
PyGObject==3.48.1
PyHamcrest==2.0.4
pyinotify==0.9.6
PyJWT==2.3.0
pymongo==4.3.3
PyNaCl==1.5.0
pyOpenSSL==24.0.0
pyparsing==3.1.2
pyperclip==1.8.2
pyperf==2.6.1
pypng==0.20231004.0
PyQt5==5.15.10
PyQt5_sip==12.13.0
pyrsistent==0.20.0
pyserial==3.5
pysmbc==1.0.23
PySocks==1.7.1
pytest==8.0.2
python-dateutil==2.8.3
python-ldap==3.4.4
python-linux-procfs==0.7.3
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.10.0
python-ntlm==1.1.0
python-yubico==1.3.3
python3-openid==3.2.0
pytoolconfig==1.3.1
pytz==2023.3.post1
pyudev==0.24.0
pyusb==1.2.1
pyxattr==0.8.1
PyYAML==6.0.1
qrcode==7.4.2
QtPy==2.4.1
railroad-diagrams==1.1.1
ranger-fm==1.9.3
raven==6.10.0
redis==4.5.5
referencing==0.33.0
reportlab==3.6.13
requests==2.31.0
requests-futures==1.0.0
requests-unixsocket==0.3.0
rich==13.7.1
rope==1.12.0
rpds-py==0.18.0
rsa==4.9
rtslib-fb==2.1.69
runfile==0.46.1
SciPy==1.11.4
SCons==4.0.1
sentry-sdk==1.12.1
service-identity==24.1.0
setuptools==69.1.1
sip==4.19.19
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1.dev20210627
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sphinxcontrib-websupport==1.2.4.dev20220202
SQLAlchemy==2.0.27
sqlparse==0.4.4
SSSDConfig==2.9.4
stem==1.8.0
sugarbowl==0.52.1
systemd-python==235
tables==3.9.2
tabulate==0.9.0
Telethon==1.34.0
tempora==5.5.1
toml==0.10.2
tomli==2.0.1
tornado==6.4
trio==0.24.0
trustme==1.1.0
Twisted==22.10.0
typing-inspect==0.9.0
typing_extensions==4.10.0
typings==0.4.25
ujson==5.9.0
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
web.py==0.62
webencodings==0.5.1
Werkzeug==3.0.1
whatthepatch==1.0.5
Whoosh==2.7.4
xlrd==2.0.1
XlsxWriter==3.2.0
xlwt==1.3.0
yapf==0.40.2
yarl==1.9.2
zc.lockfile==3.0.post1
ZConfig==4.0
zipp==3.17.0
zipstream==1.1.4
zombie-imp==0.0.2
zope.event==5.0
zope.interface==6.0
