[Unit]
Description=NNM Filter Telegram bot backend service
After=network.target

[Service]
Type=idle
Restart=always
RestartSec=3
User=nnmbot
WorkingDirectory=/home/nnmbot
ExecStart=python3 backend_nnmbot.py

[Install]
WantedBy=multi-user.target
